@font-face {
  font-family: "SofiaPro";
  src: url("../assets/fonts/SofiaProRegularAz.otf");
}

@font-face {
  font-family: "Josefin";
  src: url("../assets/fonts/JosefinSlab-VariableFont_wght.ttf");
}

/* This is a compiled file, you should be editing the file in the templates directory */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #201a23;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "SofiaPro";
}

body {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

.container {
}

.banner {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left {
  background: #af54cf;
  padding: 0 72px;
}

.left header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 38px 0 87px 0;
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu li {
  margin-left: 1rem;
}

.menu li a {
  text-decoration: none;
  color: #ffffff;
  padding: 12px;
  font-size: 20px;
  font-weight: 600;
  transition: 0.2s;
}

#btnMobile {
  display: none;
}

/* .menu li a:hover {
  color: #1f1424;
} */

.leftContent {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.leftContent h1 {
  font-size: 48px;
  font-family: "Josefin", monospace;
  font-weight: normal;
  line-height: 60px;
  text-transform: uppercase;
  color: #ffffff;
}

.leftContent h1 strong {
  font-family: "Josefin", monospace;
  font-weight: bold;
}

.leftContent h1 strong::after {
  content: "|";
  margin-left: 4px;
  opacity: 1;
  animation: pisca 0.7s infinite;
}

@keyframes pisca {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.leftContent .description {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  opacity: 0.6;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.filled {
  padding: 12px 30px;
  border-radius: 24px;
  border: 2px solid #ffffff;
  font-size: 24px;
  font-weight: bold;
  font-family: "Josefin", monospace;
  background: #ffffff;
  color: #af54cf;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.outlined {
  padding: 12px 30px;
  border-radius: 24px;
  border: 2px solid #ffffff;
  font-size: 24px;
  font-weight: bold;
  font-family: "Josefin", monospace;
  background: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.right {
  background: linear-gradient(to bottom, #ae54cf1c, #ae54cf1c),
    url("../assets/images/bannerBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.plants {
  transform: translateY(-75px);
  padding: 0 72px;
  display: flex;
  flex-direction: column;
  gap: 118px;
  margin-bottom: 164px;
}

.plantContainer {
  display: flex;
  align-items: center;
  gap: 28px;
  justify-content: space-between;
}

.plantImage {
  width: 692px;
  max-width: 100%;
  height: 460px;
  object-fit: cover;
}

.plantContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.plantContent h1 {
  font-size: 42px;
  font-family: "Josefin";
  font-weight: bold;
  color: #201a23;
}

.plantContent p {
  font-size: 22px;
  line-height: 26px;
  color: #201a23;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.viewMore {
  padding: 12px 30px;
  border-radius: 24px;
  align-self: flex-start;
  font-family: "Josefin";
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 2px;
  border: none;
  background: #af54cf;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.plantContainer:nth-child(1) .plantContent,
.plantContainer:nth-child(3) .plantContent,
.plantContainer:nth-child(5) .plantContent,
.plantContainer:nth-child(7) .plantContent,
.plantContainer:nth-child(9) .plantContent,
.plantContainer:nth-child(11) .plantContent {
  text-align: right;
}

.plantContainer:nth-child(1) .viewMore,
.plantContainer:nth-child(3) .viewMore,
.plantContainer:nth-child(5) .viewMore,
.plantContainer:nth-child(7) .viewMore,
.plantContainer:nth-child(9) .viewMore,
.plantContainer:nth-child(11) .viewMore {
  align-self: flex-end;
}

.plantContainer:nth-child(2),
.plantContainer:nth-child(4),
.plantContainer:nth-child(6),
.plantContainer:nth-child(8),
.plantContainer:nth-child(10),
.plantContainer:nth-child(12) {
  flex-direction: row-reverse;
}

.plantContainer:nth-child(2) .viewMore,
.plantContainer:nth-child(4) .viewMore,
.plantContainer:nth-child(6) .viewMore,
.plantContainer:nth-child(8) .viewMore,
.plantContainer:nth-child(10) .viewMore,
.plantContainer:nth-child(12) .viewMore {
  align-self: flex-start;
}

.footer {
  height: 152px;
  background: #201a23;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 72px;
}

.footerLeftSide {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footerLeftSide strong {
  font-size: 24px;
  color: #ffffff;
}

.footerRightSide {
  font-size: 24px;
  color: #1a2c3b;
}

@media (max-width: 1080px) {
  .banner {
    grid-template-columns: 1fr;
    height: calc(50vh + 75px);
  }
  .right {
    display: none;
  }

  .plants {
    transform: translateY(0);
  }
}

@media (max-width: 1055px) {
  .left {
    padding: 24px;
  }

  .plants {
    padding: 24px;
  }

  .plantContainer {
    flex-direction: column;
  }
  .right {
    display: none;
  }

  .plantContainer:nth-child(1) .plantContent,
  .plantContainer:nth-child(3) .plantContent,
  .plantContainer:nth-child(5) .plantContent,
  .plantContainer:nth-child(7) .plantContent,
  .plantContainer:nth-child(9) .plantContent,
  .plantContainer:nth-child(11) .plantContent {
    text-align: center;
  }
  .plantContainer:nth-child(2) .plantContent,
  .plantContainer:nth-child(4) .plantContent,
  .plantContainer:nth-child(6) .plantContent,
  .plantContainer:nth-child(8) .plantContent,
  .plantContainer:nth-child(10) .plantContent,
  .plantContainer:nth-child(12) .plantContent {
    text-align: center;
  }
  .plantContainer:nth-child(1) .viewMore,
  .plantContainer:nth-child(3) .viewMore,
  .plantContainer:nth-child(5) .viewMore,
  .plantContainer:nth-child(7) .viewMore,
  .plantContainer:nth-child(9) .viewMore,
  .plantContainer:nth-child(11) .viewMore {
    align-self: center;
  }

  .plantContainer:nth-child(2),
  .plantContainer:nth-child(4),
  .plantContainer:nth-child(6),
  .plantContainer:nth-child(8),
  .plantContainer:nth-child(10),
  .plantContainer:nth-child(12) {
    flex-direction: column;
  }

  .plantContainer:nth-child(2) .viewMore,
  .plantContainer:nth-child(4) .viewMore,
  .plantContainer:nth-child(6) .viewMore,
  .plantContainer:nth-child(8) .viewMore,
  .plantContainer:nth-child(10) .viewMore,
  .plantContainer:nth-child(12) .viewMore {
    align-self: center;
  }
}

@media (max-height: 920px) {
  .banner {
    height: 100vh;
  }

  .plants {
    transform: translateY(-75px);
    padding: 24px;
  }

  .footer {
    padding: 24px;
  }
}

@media (max-width: 578px) {
  .leftContent h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .leftContent .description {
    font-size: 1rem;
    line-height: 24px;
  }

  /* .logo {
    display: none;
  } */

  #btnMobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    color: #ffffff;
    gap: 0.5rem;
  }

  #hamburger {
    display: block;
    width: 20px;
    border-top: 2px solid;
  }

  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  .menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 85px;
    right: 0;
    background: #1f1424;
    height: 0;
    z-index: 111;
    transition: 0.6s;
    visibility: hidden;
    overflow-y: hidden;
  }

  nav.active .menu {
    display: block;
    height: calc(100vh - 85px);
    visibility: visible;
    overflow-y: auto;
  }

  nav.active #hamburger {
    border-top-color: transparent;
  }

  nav.active #hamburger::before {
    transform: rotate(135deg);
  }

  nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .menu li a {
    display: block;
    padding: 1rem;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);
  }

  .menu li a:hover {
    background: #ae54cf54;
    /* color: #201a23; */
  }

  .left header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 24px 0 48px 0;
  }

  .filled,
  .outlined,
  .viewMore {
    font-size: 1rem;
  }

  .footer .footerLeftSide strong {
    display: none;
  }

  .footerRightSide {
    font-size: 1rem;
  }

  .plantContent h1 {
    font-size: 2rem;
  }

  .plantContent p {
    font-size: 1rem;
    line-height: 24px;
  }
}

@media (max-width: 578px) and (min-height: 684px) {
  .banner {
    height: calc(50vh + 75px);
  }

  .plants {
    transform: translateY(0);
  }
}

@media (max-width: 398px) {
  .leftContent .description {
    display: none;
  }
}
